.licance{
    font-size: xx-large;
    color: darkblue;
    font-weight: bold;
    text-align: center;
}

.sectionSix {
    display: flex;
    background-image: url("images/index2-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    padding-top: 70px;
    align-items: center;
    width: 100%;
    flex-direction: column;
    vertical-align: center;
}
.sectionSixText{
    color: white;
    text-align: center;
    padding-bottom: 0.1rem;
    font-size: xx-large;

}
.sectionSixBox{
    padding-top: 2rem;
    border-top: gray 2px solid;
}

.sectionSixBox img{
    width: 4rem;
}

.sectionFive {
    display: flex;
    background-image: url("images/c-prot-awards.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    padding-top: 70px;
    align-items: center;
    width: 100%;
    flex-direction: column;
    vertical-align: center;
}

.sectionFour {
    display: flex;
    background-image: url("images/watermark.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    padding-top: 70px;
    align-items: center;
    width: 100%;
    flex-direction: column;
    vertical-align: center;
}

.sectionFour button {
    background-image: linear-gradient(to right, #0bc3e3, #1642a1);
    border-style: none;
    border-radius: 0.5rem;
    width: fit-content;
    height: fit-content;
    color: white;
    padding: 1rem 3rem 1rem 3rem;
    font-size: small;
    margin-top: 1rem;
}

.sectionThree {
    background-image: linear-gradient(to right, #0bc3e3, #1642a1);
    height: 60vh;
    padding-top: 60px;
}

.sectionThree h3 {
    color: white;
    text-align: center;
}

.sectionThree h6 {
    color: white;
    text-align: center;
    padding-top: 10px;
}

.sectionTwo {
    display: flex;
    background-image: url("images/index-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    padding-top: 7rem;
    align-items: center;
    width: 100%;
    flex-direction: column;
    vertical-align: center;
}

.sectionTwo button {
    border-radius: 25.5rem;
    width: fit-content;
    height: fit-content;
    background-image: linear-gradient(to right, #0bc3e3, #1642a1);
    padding: 1rem 3rem 1rem 3rem;
    border-style: none;
    color: white;
    font-weight: bold;
    margin-top: 2rem;
}

.navbar {
    height: 5rem;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    column-gap: 2rem;
}

li {
    float: left;
}

.navDiv img {
    height: 6.5rem;
    width: fit-content;
}

a {
    font-weight: bold !important;
    font-size: small !important;
}

.firstButton {
    min-width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #0bc3e3, #1642a1);
    border-style: none;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.08);
    margin-left: 10%;
    color: white;
    font-size: small;
}

.rightFrame {
    min-width: 10rem;
    height: 2rem;
    display: flex;
    background-color: blue;
}

nav {
    justify-content: space-between !important;
    gap: 5%;
}

.firstButton img {
    height: 3rem;
    width: 3rem;
}

.section-frame {
    flex-direction: row;
    display: flex;
    gap: 2.5rem;
    padding-left: 4rem;
}

.section-frame section {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    text-align: center;
    align-items: center;
    font-size: xx-small;
}

.section-frame img {
    height: 2rem;
    width: 2rem;
}

nav {
    padding-top: 1rem !important;
    padding-bottom: 0.5rem !important;
}

.navbarFrame {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.05);
}

.sliderFrame {
    background-image: url("images/shield.png");
    z-index: -40;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding-top: 6rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
}

.sliderFrame article {
    display: flex;
    min-height: 40vh;
    max-width: 25vh;
    min-width: 25vh;
    border-radius: 5px;
    border-bottom-style: solid;
    border-right-style: solid;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.05);
    border-width: 2px;
    flex-direction: column;
    padding-top: 60px;
    gap: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    background-color: white;
}

.sliderFrame article img {
    width: 180px;
    margin-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.sliderFrame article p {
    font-size: x-small;
    font-weight: bold;
    color: #017da2;
    margin-bottom: 0px !important;
}

.sliderFrame article label {
    font-size: x-small;
    margin-top: 0px;
}

.sliderFrame article button {
    width: 150px;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(to right, #0bc3e3, #1642a1);
    border-style: none;
    border-radius: 15px;
    font-size: x-small;
}
